<!-- Tasks page header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tareas
    </ion-title>
  </ion-toolbar>

    <!-- A button shows in the top corner to save tasks to database -->
    <ion-fab vertical="top" horizontal="end" class="ion-align-items-center ion-justify-content-center" style="display: flex;">
      <!-- A spinner shows while it is saving -->
      <ion-spinner [name]="(isSaving$ | async) ? 'circles' : 'none'"></ion-spinner>
      <!-- and the button is disabled while saving -->
      <ion-button (click)="saveToDatabase()" [disabled]="isSaving$ | async">
        <ion-icon name="cloud-upload-outline" size="large"></ion-icon>
      </ion-button>
    </ion-fab>  
    
     

</ion-header>

<!-- Tasks page content -->
<ion-content [fullscreen]="true">

  <!-- collapsable header for iOS -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- List of tasks -->
  <ion-list style="margin-bottom: 120px">
    <!-- Use async pipe to display list of tasks whenever the stream updates -->
    <ng-container *ngIf="(todoList$ | async) as todoList">
      <!-- Use ngFor to iterate over tasks in list -->
      <ion-item *ngFor="let item of todoList; index as id">
        <ion-col size="1">
          <!-- Checkbox to toggle task completed state -->
          <ion-checkbox (click)="toggle(id)" labelPlacement="end" [checked]="item.completed"></ion-checkbox>
        </ion-col>
        <ion-col>
          <!-- Clickable task description to open edit dialog -->
          <p (click)="openEditDialog(id, item.description)">{{item.description}}</p>
        </ion-col>
      </ion-item>
    </ng-container>
  
    <!-- spinner while the list is loading in async -->
    <!-- TODO: use loading value from the state -->
    <ng-template #loading>
      <ion-item>
        <ion-spinner name="circular" class="ion-col-12"></ion-spinner>
      </ion-item>
    </ng-template>
  </ion-list> 

  <!-- floating button to add new task -->
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openCreateDialog()">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- floating button to delete all tasks -->
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button (click)="deleteAll()">
      <ion-icon name="trash-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- popover form for editing a task -->
  <ion-popover [isOpen]="editMode" (didDismiss)="closeDialog()">
    <ng-template>
      <ion-item class="ion-margin">
        <ion-label position="floating">Descripción de tarea</ion-label>
        <ion-input type="text" [(ngModel)]="editingText"></ion-input>
      </ion-item>
      
      <ion-buttons class="ion-margin ion-justify-content-between">
        <ion-button color="medium" size="large" (click)="closeDialog()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-button color="primary" size="large" (click)="saveEdit()" [disabled]="editingText === ''">
          <ion-icon name="save-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-popover>


  <!-- popover form for creating a new task -->
  <ion-popover [isOpen]="createMode" (didDismiss)="closeDialog()">
    <ng-template>
      <ion-item class="ion-margin">
        <ion-label position="floating">Descripción de tarea</ion-label>
        <ion-input type="text" [(ngModel)]="editingText"></ion-input>
      </ion-item>
      
      <ion-buttons class="ion-margin ion-justify-content-between">
        <ion-button color="medium" size="large" (click)="closeDialog()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-button color="primary" size="large" (click)="saveCreate()" [disabled]="editingText === ''">
          <ion-icon name="save-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-popover>

</ion-content>
