<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- collapsable header for iOS -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- list of items -->
  <ion-list style="margin-bottom: 120px">
    <ion-item *ngFor="let item of todoList$ | async; index as id">
      <ion-col size="1">
        <ion-checkbox labelPlacement="end" [checked]="item.completed"></ion-checkbox>
      </ion-col>
      <ion-col>
        <p (click)="openEditDialog(id, item.description)">{{item.description}}</p>
      </ion-col>
    </ion-item>
  </ion-list>  

  <!-- floating button to add task -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateDialog()">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- floating button to delete all tasks -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="deleteAll()">
      <ion-icon name="trash-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- popover form to edit a task -->
  <ion-popover [isOpen]="editMode" (didDismiss)="closeDialog()">
    <ng-template>
      <ion-item class="ion-margin">
        <ion-label position="floating">Descripción de tarea</ion-label>
        <ion-input type="text" [(ngModel)]="editingText"></ion-input>
      </ion-item>
      
      <ion-buttons class="ion-margin ion-justify-content-between">
        <ion-button color="medium" size="large" (click)="closeDialog()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-button color="primary" size="large" (click)="saveEdit()" [disabled]="editingText === ''">
          <ion-icon name="save-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-popover>


  <!-- popover form to edit a task -->
  <ion-popover [isOpen]="createMode" (didDismiss)="closeDialog()">
    <ng-template>
      <ion-item class="ion-margin">
        <ion-label position="floating">Descripción de tarea</ion-label>
        <ion-input type="text" [(ngModel)]="editingText"></ion-input>
      </ion-item>
      
      <ion-buttons class="ion-margin ion-justify-content-between">
        <ion-button color="medium" size="large" (click)="closeDialog()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-button color="primary" size="large" (click)="saveCreate()" [disabled]="editingText === ''">
          <ion-icon name="save-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-popover>

</ion-content>
